@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #5890AB;
    height: 70px;
    color: white;
    font-size: 0.6rem;
    padding: 10px 10px;
}
.main-wrapper{
    width: 100%;
}
.inner-wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 6px;
    padding: 20px;
    margin-top: 20px;
}
.inner-wrapper div{
    margin: 8px 0px;
   
}
.inner-wrapper div span:last-of-type{
    color: blue;
}
.go-back{
    width: 100%;
    display: flex;
    padding: 50px;
}
#go-back{
    padding: 4px 8px;
    border-radius: 4px;
    border-style: none;
    background-color:#5890AB;
}